### Printing  in python

In [6]:
#print('Hello World!')
x = "Hello"
#print(x)


def f(my_string):
    return my_string.lower()

print(x)
print(f(x))
print(x.upper())

Hello
hello
HELLO

### Comments

In [2]:
# This is a comment 
# A comment is a readable explanation for a code

### Printing multiple statements

In [2]:
print('Hello')
print('World')
print('!')

Hello
World
!

### Print multiple lines using a single print command

In [11]:
print('asdfasd')
#Hello 
#world
#!
#')

asdfasd

#### This gave us an error. To print multiple lines using a single print command, we use ''' '''

print('''
Hello 
world
!
''')
print("""
Hello 
world
!
""")
i can type anything 

print('hiljl")

### Markdown

This is a markdown cell. It can be used to add text to the notebook.

a) Headings in markdown:


# Heading 1
## Heading 1.1
### Heading 1.2
#### Heading 1.3

b) Creating a table in markdown:

| This | is   |
|------|------|
|   a  | table|

c) We can add links in markdown:
https://www.python.org/

### Python variables

In [51]:
# declaring a variable
x = 5
# squaring the variable
x ** 2
# checking variable type
type(x)

# List
x = [1,2,4,6,7,7,8,9, "1"]
print(x)
x[0] = "hi"

#This is a set
y = {1,2,4,6,7,7,8,9, "1"}
y.add(10)

# Tuple
z = (1,2,4,6,7,7,8,9, "1")


9000 in x

[1, 2, 4, 6, 7, 7, 8, 9, '1']

False

In [30]:
x = 1
y = 2
z = 3
print(x)
print(y)
print(z)

x = str(x)
x
list(range(7))

1
2
3

[0, 1, 2, 3, 4, 5, 6]

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1) Text Type:	str

2) Numeric Types:	int, float, complex

3) Boolean Type(True/False):	bool

4) Sequence Types:	list, tuple, range

5) Mapping Type:	dict

6) Set Types:	set, frozenset

In [7]:
x = 7   # int
y = 9.3  # float
z = 2j   # complex
a = "Hi" # str
b = True # bool
print(x)
print(y)
print(z)
print(a)

7
9.3
2j
Hi

### How to check data type of a variable?

In [25]:
x = True

x == True
x == False
False == False

True

In [10]:
type(y)

float

In [11]:
type(z)

complex

In [12]:
type(a)

str

In [13]:
type(b)

bool

### Arithmetic operations

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

` +	Add two operands or unary plus	x + y`

` - Subtract right operand from the left or unary minus	x - y`

` *	Multiply two operands	x * y`

` /	Divide left operand by the right one (always results into float)	x / y`

` //	Floor division - division that results into whole number	x // y`

` %	Modulus - remainder of the division of left operand by the right	x % y (remainder of x/y)`

` **	Exponent - left operand raised to the power of right	x**y (x to the power y)`

In [57]:
x = 10
y = 5

In [53]:
x + y

15

In [54]:
x - y

5

In [16]:
x * y

50

In [17]:
x / y

2.0

In [56]:
35 // 6

5

In [60]:
36 % 6

0

In [61]:
2 ** 3

8

## Comparison operators

Comparison operators are used to compare values. It returns either True or False according to the condition.

`>	Greater than - True if left operand is greater than the right	x > y`

`<	Less than - True if left operand is less than the right	x < y`

`==	Equal to - True if both operands are equal	x == y`

`!=	Not equal to - True if operands are not equal	x != y`

`>=	Greater than or equal to - True if left operand is greater than or equal to the right	x >= y`

`<=	Less than or equal to - True if left operand is less than or equal to the right	x <= y`

In [62]:
x = 10
y = 5

In [23]:
x > y

True

In [24]:
x < y

False

In [25]:
x == y

False

In [26]:
x != y

True

In [27]:
x >= y

True

In [28]:
x <= y

False

## Logical operators

`and : True if both the operands are true	x and y`

`or : True if either of the operands is true	x or y`

`not : True if operand is false (complements the operand) not x`

In [67]:
x = True
y = False


if 12 % 6 == 0 or not 12 % 4 == 0:
    print("yes")

yes

In [30]:
x and y

False

In [31]:
x or y

True

In [32]:
not x

False

In [8]:
not y

False

In [69]:
# Some interesting things to note in Python

# Integer division with negative numbers
x = -4
y = 3
x // y

-2

In [24]:
x = 10
y = x
x = -10
print(x)
print(y)

-10
10

In [32]:
x = {2,5,10,29,-10,5}
x

{-10, 2, 5, 10, 29}

In [70]:
x = [1,2,3,4,5]
x.pop(0)
x

[2, 3, 4, 5]

In [34]:
x.append(1)
x

[2, 3, 4, 5, 1]

In [35]:
x[0] = "hi"
x

['hi', 3, 4, 5, 1]

In [36]:
x = (-1,-2)
x[0] = -20

TypeError: 'tuple' object does not support item assignment

In [37]:
# Casting data types
my_string = "5"
int(5)

5

In [38]:
str(5)

'5'

In [39]:
int("5.5")

ValueError: invalid literal for int() with base 10: '5.5'

In [40]:
float("5.5")

5.5

In [55]:

def f(x, y):
    return x ** y

number = "2"
print(number)
print(type(number))

2
<class 'str'>

In [56]:
f(2, 3)

8

In [43]:
type(2)

int

In [44]:
type("2")

str

In [49]:
f(3, 9)

19683